{% extends 'base.html' %} 
{% load static %}
{% block title %} {{ title }} 
{% endblock %} 
{% block content %}

<div class="col-lg-6 offset-3">
  <div class="box">
    <h1 class="headings">About Us</h1>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel
      mattis enim. Donec eget viverra massa. Aliquam nec bibendum enim. Duis
      pulvinar ut nisl sit amet tempor. Nam ligula erat, accumsan in vehicula
      ut, luctus id erat. Vestibulum accumsan lectus ac lorem facilisis, vel
      consequat magna sodales. Vestibulum sit amet aliquet felis. Curabitur
      mattis ligula dapibus nulla tempor malesuada. Proin pretium at ligula non
      semper. Ut in tempus ex, in molestie metus. Ut commodo ex id neque
      tristique tristique. Sed id massa vitae orci sollicitudin faucibus.
    </p>
  </div>
</div>
{% endblock %}
